body{
  background: linear-gradient(270deg,rgba(199, 239, 245, 0), rgb(215, 245, 238));
}
.content{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 950px) {
  .content{
    display: flex;
    flex-direction: column;
  }
}